.graph-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 9px;
  width: auto;
  overflow: scroll;
  align-items: center;
}
.graph-wrapper::-webkit-scrollbar{
    display: none;
}

.months-row {
  display: grid;
  grid-template-columns: repeat(53, 14px);
  gap: 4px;
  height: 20px;
}

.month-label {
  font-size: 12px;
  color: black;
}

.consistency-container {
  display: grid;
  grid-template-columns: repeat(53, 14px);
  grid-template-rows: repeat(7, 14px);
  gap: 4px;
}

.day {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background-color: #ebedf0;
}

.level-1 { background-color: #c6e48b; }
.level-2 { background-color: #7bc96f; }
.level-3 { background-color: #239a3b; }
.level-4 { background-color: #196127; }
