.GrammarSection{
    width: 100%;
    height: auto;
}
.GrammarBanner{
    width: 100%;
    height: 120px;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    text-align: center;
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
}
.GrammarText{
  font-size: 80px;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url('../Assets/banner3.jpg');
  background-size: contain;
}
.GrammarListContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.GrammarList{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.GrammarDiv{
    width: 580px;
    height: 90px;
    border-radius: 12px;
    margin-top: 10px;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-left: 1px solid grey;
}
.GrammarDivHeading{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.GrammarDivOtherInfo{
    margin-left: 15px;
    font-family: poppins;
}
.GrammarDivOtherInfo p{
    margin: 0px;
}