.VocabSection{
  width: 100%;
  height: auto;
}
.VocabBanner{
  width: 100%;
  height: 120px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  text-align: center;
  display: flex;
  background-color: #6a4a73;
  align-items: center;
  justify-content: center;
}
.VocabText{
  font-size: 80px;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: url('../Assets/banner2.jpg');
  background-size: contain;
}
.VocabContents{
  font-family: "Short Stack", cursive;
  font-weight: bold;
  font-size: 20px;
  padding-inline: 10px;
}
.VocabInput{
  display: flex;
  gap: 20px;
}
.VocabInput input{
  width: 250px;
  height: 35px;
  border-radius: 8px;
  border:2px solid #6a4a73;
  font-family: "Zen Kaku Gothic Antique", sans-serif;
  font-weight: bold;
  padding-left: 10px;
}
.SubmitButton{
    width: 80px;
    height: 40px;
    border-radius: 8px;
    border: 0px;
    font-family: poppins;
    font-weight: bold;
}
.words{
  display: flex;
  width: 100%;
  position: relative;
  height: auto;
}
.list {
  width: 100%;
  max-height: 500px;
  overflow: scroll;
  color: #555;
  font-size: 22px;
  padding: 0 !important;
  border: 1px solid #dedede;
  border-radius: 12px;
  margin: 0px;
}
.list::-webkit-scrollbar{
    display: none;
}
.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 40px;
  height: auto;
  padding: 10px;
  font-size: 12px;
  text-transform: capitalize;
  font-size: 15px;
}
.list li:last-child{
  border-bottom:none;
}
.list li:hover {
  background-color: #f0f0f0;
  border-radius: 12px;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}
.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  height: auto;
  margin-left: 3%;
  position: absolute;
  width: 2px;
  top: 0;
  bottom: 0;
}
.AddedWordsSection{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 15px;
    padding: 0px;
}