body, html {
  height: 100%;
  margin: 0;
}
.body,html::-webkit-scrollbar{
  display: none;
}
.Navbar{
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Navbar h2{
  margin-left: 30px;
  color: red;
  font-weight: 500;
}
.UserSmallInfo{
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-family: poppins;
}
.UserName{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.LeveIndicator{
  width: auto;
  padding: 8px;
  border-radius: 8px;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.MainComponent{
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: space-between;
}
.LeftSide{
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  margin-top: 10px;
}
.LeftSide div{
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 6px;
  box-shadow: 6px 6px;
  cursor: pointer;
  display: flex;
  gap: 15px;
}
.LeftSide div:nth-child(1){
  box-shadow: 6px 6px #df342c;
}
.LeftSide div:nth-child(2){
  box-shadow: 6px 6px #6a4a73;
}
.LeftSide div:nth-child(3){
  box-shadow: 6px 6px #1b7ec2;
}
.LeftSide div:hover{
  box-shadow: 8px 8px black;
}
.RightSide{
  width: 80%;
  height: 100vh;
  padding-inline: 20px;
  margin-top: 10px;
  overflow: scroll;
}
.RightSide::-webkit-scrollbar{
  display: none;
}
.DefaultWindow{
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}